a {
    color: inherit;
    text-decoration: none;
}

.container {
    margin-left: 55px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.container-content {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #1a202c;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    flex-shrink: 0;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-container {
    color: #d1d5db;
}

.profile-container {
    max-width: 80rem;
    margin: 3rem auto auto auto;
    padding: 1rem;
    background-color: #1a202c;
    border-radius: 0.5rem;
    animation: slideIn 0.3s ease-in-out;
}

.profile-content {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.section-text {
    color: #34D399;
    text-align: center;
    margin-top: 5rem;
}


.profile-header {
    color: #34D399;
}
.profile-keyword {
    color: #63b3ed;
}

.profile-details {
    margin-left: 1rem;
}

.profile-label {
    color: #9f7aea;
}

.profile-value {
    color: #f6e05e;
}


.skill-container {
    max-width: 82rem;
    margin: 0 auto auto auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .skill-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.skill-card {
    padding: 1rem;
    background-color: #1a202c;
    border-radius: 0.5rem;
    border: 1px solid #4a5568;
    transition: border-color 0.3s ease-in-out;
    animation: slideIn 0.3s ease-in-out;
}

.skill-card:hover {
    border-color: #68d391;
}

.skill-card-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.skill-title {
    color: #68d391;
}

.skill-tech {
    font-size: 0.875rem;
    opacity: 0.8;
}

.github-title {
    color: #34D399;
}

.github-description {
    color: #d1d5db;
    opacity: 0.8;
}

.zenn-title {
    color: #34D399;
}