a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


