.footer-text {
    color:#34D399;
}

.icon-text {
    margin-top: 1rem;
    color: #34D399;
}

footer {
    background-color: #1a202c;
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    color: #d1d5db;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}

.footer-container {
    margin: 4px;
    padding: 10px;
    font-size: 1rem;
}

.icon-container {
    margin-left: auto;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.icon-content {
    margin-left: 8px;
}

.main-container {
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #d1d5db;
}

@media (min-width: 768px) {
    .footer-container {
        margin-left: 4rem;
    }
}